*{
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

.leftside{
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.leftside h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}

.rightside{
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}


.rightside input {
    height: 45px;
    width: 250px;
    outline: none;
    text-align: center;
    transition: 0.1s;
    border-radius: 5px;
    border: none;
}

.rightside input:hover {
    border: 3px solid rgb(47, 116, 213);
}


.quotes {
    background-color: blue;
    height: 100%;

}











/* 

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




*/



                                            /* ADD QUOTES STYLES  */



