*{
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

.leftside{
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.leftside h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}

.rightside{
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}


.rightside input {
    height: 45px;
    width: 250px;
    outline: none;
    text-align: center;
    transition: 0.1s;
    border-radius: 5px;
    border: none;
}

.rightside input:hover {
    border: 3px solid rgb(47, 116, 213);
}


.quotes {
    background-color: blue;
    height: 100%;

}











/* 

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




*/



                                            /* ADD QUOTES STYLES  */













                                            
/* 

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




*/



                                            /* SignUP page Style  */



#signup{
    background-color: #1e1e22;
    font-family: 'Roboto',sans-serif;
    position: relative;
}


.signupbox {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupinputs {
height: 650px;
width: 500px;
background-color: #1e292e;
display: flex;
flex-direction: column;
justify-content: space-evenly;
border-radius: 8px;
position: relative;
overflow: hidden;
}
    
    
    .signupinputs::before{
        content: "";
        position:absolute;
        top: -35%;
        left: -50%;
        width: 500px;
        height: 550px;
        background:linear-gradient(0deg , transparent ,#45f3ff,#45f3ff);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    
    .signupinputs:after{
        content: "";
        position:absolute;
        top: -35%;
        left: -50%;
        width: 500px;
        height: 550px;
        background:linear-gradient(0deg , transparent ,#45f3ff,#45f3ff);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }

    @keyframes animate {
        0%{
            transform: rotate(0deg);
    
        }
    
        100%{
            transform: rotate(360deg);
        }
    }
    
    







.heading {
    text-align: center;
}


.heading h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.heading img{
    width: 80px;
    padding-bottom: 20px;
}

.nameinput  {
    text-align: center;
        
  }
 
  .nameinput label{
 float: left;
 padding-left: 50px;
 color: grey;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 
  }
 .nameinput input {
 width: 80%;
 border: none;
 line-height:14px ;
 background-color: transparent;
 border-bottom: 2px solid rgb(9, 176, 176);
 border-radius: 2px;
 outline: none;
 color: white;
 text-align: center;
 transition: 0.5s;
 
 }
 

.nameinput input:active {
    border-bottom:2px solid rgb(1, 45, 45);
 }

.nameinput input:focus {
    line-height: 30px;
    background-color: #4cd1da;
}

.emailinput  {
   text-align: center;
       
 }

 .emailinput label{
float: left;
padding-left: 50px;
color: grey;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;

 }
.emailinput input {
width: 80%;
border: none;
line-height:40px ;
background-color: transparent;
border-bottom: 2px solid rgb(9, 176, 176);
border-radius: 2px;
outline: none;
color: white;
text-align: center;
transition: 0.5s;

}


.emailinput input:active {
    border-bottom:2px solid rgb(1, 45, 45);
    }
    

.passwordinput{
text-align: center;
}

.passwordinput label {
    float: left;
padding-left: 50px;
color: grey;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;
}

.passwordinput input {
width: 80%;
line-height:40px ;
border: none;
background-color: transparent;
border-bottom: 2px solid rgb(9, 176, 176);
border-radius: 2px;
outline: none;
color: white;
transition: 0.5s;
text-align: center;
   
}


.passwordinput input:active {
border-bottom:2px solid rgb(1, 45, 45);
}


.buttoninput {
    text-align: right;
    padding-right: 50px;
}

.buttoninput button{
    padding: 7px 14px;
    background-color: transparent !important;
    border: 1px solid rgb(9, 176, 176);
    color: rgb(9, 176, 176);
    font-weight: bold;
    transition: 0.4s;
    border-radius: 2px;
}

.buttoninput button:hover {

    background-color: rgb(9, 176, 176) !important; 
    color: white;
}

.buttoninput button:active {
   transform: translateY(-5px);
}




.emailinput2 {
    padding-top: 20px;
}
.nameinput2 {
    padding-top: 20px;
}
.passwordinput2 {
    padding-top: 20px;
}
.buttoninput2{
    padding-top: 20px;
}

.emailinput2 input{
    text-align: left !important;
}
.nameinput2 input{
   text-align: left !important;
}
.passwordinput2 input{
   text-align: left !important;
}









/* 

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




*/



                                            /* LOGIN page Style  */



#login{
    background-color: #1e1e22;
    font-family: 'Roboto',sans-serif;
}


.loginbox {
  height: 100vh;
  width: 100vw;
  display: flex;
 justify-content: center;
 align-items: center;

}

.logininputs1 {
height: 500px;
width: 500px;
background-color: #1e292e;
display: flex;
flex-direction: column;
justify-content: space-evenly;
border-radius: 8px;
position: relative;
overflow: hidden;

}

.logininputs1::before{
    content: "";
    position:absolute;
    top: -50%;
    left: -50%;
    width: 550px;
    height: 455px;
    background:linear-gradient(0deg , transparent ,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.logininputs1:after{
    content: "";
    position:absolute;
    top: -50%;
    left: -50%;
    width: 550px;
    height: 455px;
    background:linear-gradient(0deg , transparent ,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.logininputs{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #1e292e;
    z-index: 10;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
    }
}



.heading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.heading h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.heading img{
    width: 80px;
    padding-bottom: 20px;
}
.emailinput  {
   text-align: center;
       
 }

 .emailinput label{
float: left;
padding-left: 50px;
color: grey;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;

 }
.emailinput input {
width: 80%;
border: none;
line-height:14px ;
background-color: transparent;
border-bottom: 2px solid rgb(9, 176, 176);
border-radius: 2px;
outline: none;
color: white;
text-align: center;
transition: 0.5s;
overflow: hidden;

}


.emailinput input:active {
    border-bottom:2px solid rgb(1, 45, 45);
}

.emailinput input:focus{

        line-height: 30px;
        background-color: #45f3ff;
 }

.passwordinput{
text-align: center;
}

.passwordinput label {
    float: left;
padding-left: 50px;
color: grey;
text-transform: uppercase;
font-size: 12px;
font-weight: bold;
padding-top: 20px;
}

.passwordinput input {
width: 80%;
line-height:14px ;
border: none;
background-color: transparent;
border-bottom: 2px solid rgb(9, 176, 176);
border-radius: 2px;
outline: none;
color: white;
transition: 0.5s;
text-align: center;
transition: 0.4s;
   
}

.passwordinput input:focus{
    line-height: 30px;
    background-color: #45f3ff;
}

.passwordinput input:active {
border-bottom:2px solid rgb(1, 45, 45);
background-color: transparent;
}


.buttoninput {
    text-align: right;
    padding-right: 50px;
    padding-top: 30px;
}

.buttoninput button{
    padding: 7px 14px;
    background-color: transparent !important;
    border: 1px solid rgb(9, 176, 176);
    color: rgb(9, 176, 176);
    font-weight: bold;
    transition: 0.4s;
    border-radius: 2px;
}

.buttoninput button:hover {

    background-color: rgb(9, 176, 176) !important; 
    color: white;
}


.buttoninput button:hover
{
transform: translateY(-5px);
}
.buttoninput button:active {
   transform: translateY(2px);
}




/* 
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/


/* 
                        ALERT BOX

*/



#alertbox {
    
    background-color:#f6a7a3;
    position: absolute;
    width: 400px;
    height: 100px;
    top: 3%;
    left: 38%;
    border-left: 4px solid rgb(101, 3, 3);
    border-radius: 4px;

    animation: animatee 1.4s linear;
    z-index: 999;
    display: none;
}


@keyframes animatee {
    0% {
        transform: translateY(-100px);
        opacity: 0.1;
    }


    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.6;
    }
    
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.alertbox h2 {
font-size: 23px;
padding-left: 10px;
}

.errormessage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#xbutton {
    background-color: transparent;
    border: 2px solid rgb(159, 93, 93);
    border-radius: 50% !important;
    margin-right: 10px !important;
    
}

#xbutton img {
    width: 20px;
    float: right;
    padding: 3px;
   
}